body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background: #f9f9f9; /* Neutro claro */
}

header {
    background: #e0e0e0; /* Neutro claro */
    padding: 10px 0;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Ajuste a altura conforme necessário */
}

.logo {
    max-height: 50px; /* Garante que o logo não fique grande */
    max-width: 100%;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: #ffffff; /* Neutro claro */
    color: #333;
}

h1, h2 {
    color: #ff6600; /* Laranja para destacar títulos */
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: disc;
}

ul li {
    margin-bottom: 10px;
}

.pdf-link {
    display: inline-block;
    background: #ff6600; /* Laranja */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.pdf-link:hover {
    background: #cc5200; /* Laranja mais escuro para o hover */
}

footer {
    background: #e0e0e0; /* Neutro claro */
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
